<!-- 소울 디멘션 상세 -->
<div id="company-preflow-project-1" class="project-detail-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6" data-aos="fade-right">
                <h3 class="company-name mb-3">Preflow</h3>
                <h4 class="project-name mb-4">소울 디멘션</h4>
                <div class="project-description">
                    <p>
                        <!-- 프로젝트 상세 설명을 여기에 작성하세요 -->
                    </p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="project-image-wrapper">
                    <!-- 이미지는 리소스 폴더가 비어있으면 표시하지 않음 -->
                </div>
            </div>
        </div>
    </div>
</div>

